ngrok.exe
.*
*/google-services.json
.venv
*/GoogleService-Info.plist
*/bunfig.npmrc
data
*.log

/backend/cmd/uploads/*.jpg
/backend/cmd/uploads/*.jpeg
/backend/cmd/uploads/*.png
!/backend/cmd/uploads/default_avatar.png