ngrok.exe
.*
.venv
*/bunfig.npmrc
# data
*.log

avatar/*.jpg
avatar/*.jpeg
avatar/*.png
!avatar/default_avatar.png

*/.vscode

app/android
*/ios

api/node_modules
api/dist

api/output
backend

node_modules/

.env
welfare-462510-eacfaf1645dd.json

crawler-service/output.json
